@import '@scss/const';

div.pagination {
    margin: 0 auto 20px auto;
    // max-width: 500px;
    display: flex;
    justify-content: center;
    button {
        border: 1px map-get($map: $colors, $key: easy-grey) solid;
        border-radius: map-get($map: $borders, $key: border-radius);
        background-color: white;
        text-align: center;
        width: 30px;
        height: 30px;
        margin: 5px;
        font-size: 0.9em;
        &.currentPage {
            background-color: map-get($map: $colors, $key: easy-grey);
        }
    }
}
