$colors: (
    main-color: rgb(0, 0, 0),
    easy-grey: #e4e4e4,
    background-card: rgb(248, 248, 248),
);

$borders: (
    border-radius: 0px,
);

$fonts: (
    font-size: 1.5em,
    font-family: sans-sarif,
);
