@use 'src/app/styles/const' as *;

div.empty-basket {
    padding: 20px;
    border: 1px map-get($map: $colors, $key: easy-grey) solid;
    border-radius: map-get($map: $borders, $key: border-radius);
    p {
        font-size: 1.5em;
    }
}
