@use 'src/app/styles/const' as *;

div {
    &.pageBasket {
        max-width: 1200px;
        margin: auto;
    }
    &.emptyBasket {
        padding: 20px;
        border: 1px map-get($map: $colors, $key: easy-grey) solid;
        border-radius: map-get($map: $borders, $key: border-radius);
        p {
            font-size: 1.5em;
        }
    }
    &.prdouctsBasketWrapper {
        display: grid;
        gap: 20px;
        grid-template-columns: 5fr 2fr;
    }
}
