div.head_menu {
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;

    color: white;
    background: black;
    font-size: 18px;
    border-top: 1px white solid;
    .head_menu_container {
        display: inline-flex;
        .head_menu_src {
            padding: 0 20px 0 0;
            display: flex;
            a {
                color: white;
                text-decoration: none;
                margin: auto 0 auto 0;
                display: flex;
                &.head_menu_src_active {
                    border-bottom: 2px white solid;
                }
                &.head_menu_src_not {
                    color: grey;
                }
            }
            .head_menu_under {
                position: absolute;
                top: var(--position-top);
                left: 0px;
                right: 0px;
                width: 100vw;
                // height: auto;
                transition: 0.3s;
                text-align: center;

                // display: inline-flex;
                // justify-content: center;
                // gap: 40px; 


                background-color: grey;
                a, .head_menu_box_img {
                    position: relative;
                    line-height: 35px;
                    // transform: translateY(20px);


                    opacity: 0;
                }
                a {
                    font-size: 20px;
                }
                .head_menu_box_img {
                    width: 100%;
                    height: 100px;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &.visible {
                    opacity: 1;
                    pointer-events: auto;
                    
                    @for $j from 1 through 20 {
                        :nth-child(#{$j}) {
                            @for $i from 1 through 15 {
                                :nth-child(#{$i}) {
                                    $delayK: 150;
                                    animation: fadeInWord 0.5s ease-in-out forwards #{($i*$delayK)-$delayK+($delayK*($j*1.5))}ms;
                                    will-change: transform;
                                }
                            }
                        }
                    }
                }
                &.invisible {
                    opacity: 0;
                    pointer-events: none;
                }
                display: grid;
                grid-template-columns: repeat(5, 200px);
                justify-content: center;
                gap: 20px;
                
                div {
                    a:first-child {
                        text-transform: uppercase;
                        border-bottom: white 2px solid;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}
