.text-slider {
    max-width: 600px;
    margin: 0 auto;
}
p.slider-container {
    line-height: 30px;
    background-color: black;
    color: white;
    text-align: center;

    font-size: 14px;
    display: block;
    margin: auto;

}
