div.menu_under {
    width: 100vw;
    height: 500px;
    background-color: yellow;
    transition: 0.3s;
    &.menu_under_infisible {
        opacity: 0;
    }
    &.menu_under_fisible {
        opacity: 1;
    }
}