@import '@scss/const';

div.totalBox {
    div.basketOrder {
        position: sticky;
        top: 20px;
        padding: 20px;
        border: 1px map-get($map: $colors, $key: easy-grey) solid;
        border-radius: map-get($map: $borders, $key: border-radius);
        button {
            margin: 0 20px 0 0;
        }
    }
}
