@use 'src/app/styles/const' as *;

div.wrapperProduct {
    display: grid;
    margin: 20px auto;
    grid-template-columns: 1fr 1fr;
    width: 1300px;
    justify-content: space-between;
    border: 1px map-get($map: $colors, $key: easy-grey) solid;
    border-radius: map-get($map: $borders, $key: border-radius);

    > div {
        max-width: 600px;
        padding: 20px;
        margin: 0 auto;
        &.image {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 500px;
                height: 625px;
            }
        }
        .backLink {
            margin: 20px 0;
        }
    }
}
