@import 'components/head_sales';
@import 'components/menu/head_menu.scss';
@import 'components/menu/under_menu.scss';
@import 'components/katalog.scss';
@import 'components/products.scss';

// animations
@import 'components/animations.scss';


html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}