@use 'src/app/styles/const' as *;

footer {
    color: rgb(232, 232, 232);
    text-align: center;
    padding: 20px;
    background-color: map-get($map: $colors, $key: main-color);
    border-top: 30px white double;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto 0 0 0;
    max-height: 100px;
}
