@import '@scss/const';

// div.catalog {
//     display: grid;
//     grid-template-columns: 300px 1500px;

//     margin: auto;
//     justify-content: space-around;
// }

div.wrapperCards {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1500px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 9fr;
    .content {
        gap: inherit;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
