@use 'src/app/styles/const' as *;

div.basket-order {
    div {
        border: 1px map-get($map: $colors, $key: easy-grey) solid;
        border-radius: map-get($map: $borders, $key: border-radius);
        padding: 20px;
    }
}
