@import '@scss/const';

div.catalogBasket {
    border: 1px map-get($map: $colors, $key: easy-grey) solid;
    border-radius: map-get($map: $borders, $key: border-radius);
    margin: 0 auto;
    font-family: sans-serif;
}
