@use 'src/app/styles/const' as *;

div.catalog {
    div {
        &.wrapper-products {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(4, 1fr);
        }
        &.wrapper-pagination {
            width: 100%;
            margin: 20px 0;
            display: grid;
            grid-template-columns: auto auto;
            .button-load-more {
                justify-self: left;
            }
            .pagination {
                justify-self: right;
                grid-column: 2;
            }
        }
    }
}
