@use 'src/app/styles/const' as *;

div.catalog-card {
    border: 1px solid map-get($map: $colors, $key: easy-grey);
    border-radius: map-get($map: $borders, $key: border-radius);
    font-family: sans-serif;
    padding: 20px;
    img {
        max-width: 200px;
        height: 250px;
    }
    div.card-description {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 120px repeat(3, 50px);
    }
}
