@use 'src/app/styles/const' as *;

$border-radius: map-get(
    $map: $borders,
    $key: border-radius,
);

div.catalog-card {
    background-color: map-get($map: $colors, $key: background-card);
    border-radius: $border-radius;
    border: 1px solid map-get($map: $colors, $key: easy-grey);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

    a {
        color: black;
        text-decoration: none;
    }
    img {
        border-radius: $border-radius $border-radius 0 0;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    div.card-description {
        padding: 20px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px repeat(3, 50px);
    }
}
