div.head_menu {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    border-top: 1px white solid;
    padding: 0px 20px;
    box-sizing: border-box;
    
    .head_menu_container {
        display: inline-flex;
        .head_menu_src {
            padding: 0 20px 0 0;
            display: flex;
            
            a {
                color: white;
                text-decoration: none;
                display: flex;
                font-size: 16px;

                &.head_menu_src_active {
                    border-bottom: 1px white solid;
                }
                &.head_menu_src_not {
                    color: grey;
                }
            }
            & > a{
                text-transform: uppercase;
                margin: auto 0 auto 0;
                font-weight: 900;
                border-bottom: 1px black solid;
            }
        }
    }
    .head_menu_second {
        display: flex;
        a { 
            line-height: 30px;
            margin: auto 0 auto 20px;
            &:first-child {
                margin: auto 0;
            }
            img {
                background-color: white;
                display: flex;
                margin: 5px 0;
            }
        }
    }
    .head_menu_USB {
        img {
            width: 25px;
        }
    }
    .head_menu_logo {
        img {
            height: 50px;
            // display: flex;
        }
    }
}