.head_menu_under {
    position: absolute;
    top: var(--position-top);
    left: 0px;
    right: 0px;
    width: 100%;
    transition: 0.3s;

    display: grid;
    grid-template-columns: repeat(5, minmax(140px, 180px));
    text-align: left;
    justify-content: center;
    gap: 20px;

    background-color: rgb(49, 49, 49);
    div.head_menu_tables_src {
        margin: 20px 0 20px 0;
        transform: translateY(-10px);
        a {
            line-height: 35px;
            opacity: 0;
            transition: 0.3s;
            &.menu_tables_src:hover {
                color:  rgb(177, 177, 177);
            }
            &:first-child {
                text-transform: uppercase;
                border-bottom: white 1px solid;
                font-weight: 800;
            }
            p {
                margin: 0;
                &:first-of-type {
                    line-height: 32px;
                    font-size: 1.5em;
                }
                &:nth-of-type(2) {
                    font-weight: 500;
                    text-transform: none;
                    font-size: 1em;
                }
                &:nth-of-type(3) {
                    font-weight: 600;
                    font-size: 1.2em;
                }
                & > span {
                    position: absolute;
                    transform: translateY(calc(50% - 14px));
                    font-size: 1em;
                    font-weight: 400;
                }
            }
            &.inVert {
                display: block;
                border-bottom: white 0px solid;
            }
        }
        .head_menu_box_img {
            opacity: 0;
            border: 1px red solid;
            box-sizing: border-box;
            width: 100%;
            height: var(--head_menu_box_img-height);
            
            border: 1px solid black;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            
            transition: 2s;
            &:hover {
                background-size: 130%;
            }
        }
        
    }
    &.visible {
        opacity: 1;
        pointer-events: auto;
        
        $delayK: 150;
        @for $j from 1 through 5 {
            .head_menu_tables_src:nth-child(#{$j}) {
                transition: 1s;
                transform: translateY(0px);
                transition-delay: #{$j*100}ms;
            }
            :nth-child(#{$j}) {
                @for $i from 1 through 8 {
                    a:nth-of-type(#{$i}),div:nth-of-type(#{$i}) {
                        animation: fadeInWord 0.5s ease-in-out forwards #{($i*$delayK)-$delayK+($delayK*($j*0.5))}ms;
                    }
                }
            }
        }
    }
    &.invisible {
        opacity: 0;
        pointer-events: none;
    }
}