@use 'src/app/styles/const' as *;

$border-radius: map-get(
    $map: $borders,
    $key: border-radius,
);

div.card-basket {
    display: grid;
    gap: 20px;
    box-sizing: border-box;

    background-color: map-get($map: $colors, $key: background-card);
    border: 1px solid map-get($map: $colors, $key: easy-grey);
    border-radius: map-get($map: $borders, $key: border-radius);

    grid-template-columns: 1fr 3fr 3fr;
    a {
        text-decoration: none;
        color: black;
    }
    img {
        width: 200px;
        border-radius: $border-radius 0 0 $border-radius;
        display: block;
    }
    div.cash-result {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        align-items: center;
    }
    @media (max-width: 700px) and (min-width: 500px) {
        font-size: 0.8em;
        gap: 0;
        grid-template-columns: 5fr 6fr;
        .description {
            padding-left: 10px;
        }
        div.cash-result {
            padding: 0 10px;
            justify-content: space-between;
        }
        a.image-card {
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
    @media (max-width: 500px) {
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto auto;
        img {
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
        }
        > div {
            padding: 10px;
            &.cash-result {
                justify-content: space-between;
            }
        }
    }
}
